@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400;500&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
    --rale: 'Raleway', sans-serif;
    --primary-color: #3B5441;
    --secondary-color: #E66060;
    --tertiary-color: #F1F3F2;
    --complement: #EDC8C8;
}